{% extends "layout.html" %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold">Login</h1>
<form action="login.php" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    </br>
    </br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
</br>
    <input type="submit" value="Login" style="background-color: black; color: white;">
</form>
<a href="register.php">Register</a>
{% endblock %}
