/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(185, 182, 182, 0.744);
} */